<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQL_Server_Index_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <SQL_Server_Index_Manager.Properties.Settings>
            <setting name="IndexManagerReorganizeThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IndexManagerRebuildThreshold" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IndexManagerMinimumIndexSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IndexManagerSortInTempDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndexManagerCommandTimeout" serializeAs="String">
                <value>600</value>
            </setting>
        </SQL_Server_Index_Manager.Properties.Settings>
    </userSettings>
</configuration>